body {
	color: white;
	text-align: center;
	font-weight: bold;
}

#container {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-template-areas: 
		"header header header header header header header header"
		"nav nav nav nav nav nav nav nav"
		"feature feature feature gallery gallery gallery gallery gallery"
		"feature feature feature gallery gallery gallery gallery gallery"
		"feature feature feature gallery gallery gallery gallery gallery"
		"feature feature feature gallery gallery gallery gallery gallery"
		"new new new blog blog blog blog blog"
		"new new new blog blog blog blog blog"
		"category category category blog blog blog blog blog"
		"category category category blog blog blog blog blog"
		"footer footer footer footer footer footer footer footer";
	grid-gap: 15px;
	max-width: 960px;
	margin: 0 auto;
}

header,nav,aside,article,footer {
	border: 1px solid black;
	padding: 25px;
	background-color: darkgrey;
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

#gallery {
	grid-area: gallery;
}

#blog {
	grid-area: blog;
}


#feature {
	grid-area: feature;
}

#new {
	grid-area: new;
}

#category {
	grid-area: category;
}

footer {
	grid-area: footer;
}

nav {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	grid-area: nav;
	padding: 15px;
}

nav div {
	border: 1px solid black;
	background-color: #888888;
	padding: 10px;
}
